---js
{
    pagination: {
        data: "collections.all",
        size: 20,
        reverse: true,
        before: function(p, f) {
            return p.filter(p => p.data.date)
        }
    }
}
---

{% extends 'page.njk' %}

{% block content %}
    {% for post in pagination.items %}
        {% if post.data.tags == 'quotes' %}
            <blockquote>{{ post.content | safe}}</blockquote>
            <div class="!mt-2">
            via {{ post.data.source }}
            </div>
        {% else %}
            {% set content = post.content %}
            {% set title = post.data.title %}
            {% set date = post.data.date %}
            {% set url = post.url %}
            {% include 'content.html' %}
        {% endif %}
        <hr/>
    {% endfor %}
    <div style="text-align: center">
        {% if pagination.previousPageHref %}
            <a href="{{ pagination.previousPageHref }}">Previous page</a> ·
        {% endif %}
        {% if pagination.nextPageHref %}
            <a href="{{ pagination.nextPageHref }}">Next page</a>
        {% endif %}
    </div>
{% endblock %}

{% block head %}
    <title>Applied Cartography</title>
{% endblock %}
