<article>
  <div>
    <nav
      class="prose prose-neutral flex items-center space-x-4 text-gray-600 -mb-1 font-thin"
    >
      {% if date %}
        <div class="text-xs">{{ date | readablePostDate }}</div>
      {% endif %}
    </nav>
  </div>
  <div class="">
    <nav class="max-w-prose mx-auto prose prose-neutral">
      <li class="pl-0 flex">
        <h1 class="flex-1 my-0! leading-[0]">
          <a
            href="{{ url }}"
            class="font-bold no-underline text-lg text-black!"
          >
            {{ title }}
          </a>
        </h1>
      </li>
    </nav> </div
    >{% if image %}
      <img
        src="/img/{{ image }}"
        class="float-right max-w-[200px] ml-12! -mt-12!"
      />
    {% endif %} {% if spoilers %}
      <div class="bg-red-100 rounded-lg p-4 mt-4 text-red-600">
        <div class="text-xs uppercase font-bold">Danger</div>
        <div> This post contains spoilers.</div>
      </div>
    {% endif %} {{ content | safe }}
    <p class="text-green-600! mt-0!"> {{ rating | toStars }} </p>
    {% if title %} {% set quotes = collections.quotes | filter("source", title) %}
      {% if quotes.length > 0 %}
        <h2>Highlights</h2>
        {% for quote in quotes %}
          <blockquote class="pt-4!">{{ quote.content | safe }}</blockquote>
        {% endfor %} {% endif %} {% endif %} {% if external_url %}
          <a
            href="{{ external_url }}"
            target="_blank"
            class="bg-blue-100 rounded-lg flex px-4 py-2 mt-4 items-center hover:bg-blue-200 transition-colors"
          >
            <div class="flex-1">{{ external_url_cta }}</div>{% include
            'icons/external.svg' %}
          </a>
        {% endif %}
  </article>
