<!doctype html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        <title>{{ title }} · Applied Cartography</title>
    </head>
    <body class="flex flex-col min-h-screen ">
        {% include 'nav.html' %}
        {% include 'subnav.html' %}
        <div class="bg-orange-600 px-4">
            <nav
    class="max-w-prose mx-auto prose  prose-neutral pb-4 -mt-2 flex items-center space-x-4"
  >
                {% if date %}
                    <div class="text-xs text-white/80">Reviewed
                    <div class="text-sm text-white font-semibold">{{ date | readablePostDate }}</div>
                    </div>
                {% endif %}

                {% if author %}
                    <div class="text-xs text-white/80">Written by
                    <div class="text-sm text-white font-semibold">{{ author }}</div>
                    </div>
                {% endif %}
                {% if genre %}
                    <div class="text-xs text-white/80">Genre
                    <div class="text-sm text-white font-semibold">{{ genre }}</div>
                    </div>
                {% endif %}
                {% if year %}
                    <div class="text-xs text-white/80">Published in
                    <div class="text-sm text-white font-semibold">{{ year }}</div>
                    </div>
                {% endif %}
                {% if via %}
                    <div class="text-xs text-white/80">Via
                    <div class="text-sm text-white font-semibold">{{ via }}</div>
                    </div>
                {% endif %}
                <div class="flex-1"></div>
            </nav>
        </div>

        <div class="flex-1 flex px-4 lg:px-0 flex-col-reverse lg:flex-row lg:space-x-4 lg:max-w-prose items-start mx-auto my-4">
            <main class="max-w-prose prose prose-neutral mx-auto [&>*]:w-full w-[calc(100vw-2rem)] max-w-screen">
                {% if image %}<img src="/img/{{ image }}" class="!w-1/2 hidden md:inline-block relative float-right !mt-0 md:!mt-[-190px] !ml-4 !mb-0 !border-[0.5rem] !border-solid !border-white" style="z-index: 100;" />{% endif %}
                {% if content %}
                    {{ content | safe }}
                {% else %}
                    <p>
                    (I didn't write any notes for this piece of media. Foolish me!)
                    </p>
                {% endif %}
                <p class="!text-orange-600">
                    {{ rating | toStars }}
                </p>
            </main>
        </div>

        <div class="flex-1 flex px-4 lg:px-0 flex-col-reverse lg:flex-row lg:space-x-4 lg:max-w-prose items-start mx-auto my-4">
            <main class="max-w-prose prose prose-neutral mx-auto flex flex-col items-center [&>*]:w-full w-[calc(100vw-2rem)]">
                {% set quotes = collections.quotes | filter("source", title) %}
                {% if quotes.length > 0 %}
                    <h2>Highlights</h2>
                    {% for quote in quotes %}
                        <blockquote class="!pt-4">{{ quote.content | safe }}</blockquote>
                    {% endfor %}
                {% endif %}
                {%- if backlinks.length > 0 %}
                    <h2>Mentioned in</h2>
                    <ul>
                        {%- for mention in backlinks %}
                            <li>
                                <a href="{{ mention.url }}">{{ mention.title }}</a>
                            </li>
                        {%- endfor %}
                    </ul>
                </div>
            {%- endif %}
        </main>
    </div>
</main>
</div>
{% include 'footer.html' %}
</div>
</main>
</body>
</html>
