<!doctype html>
<html lang="en">
    <head>
        {% ogImage "./og-image.og.njk", { title: title, date: date | readablePostDate } %}
        {% include 'head.html' %}
        <title>{{ title }} · Applied Cartography</title>
    </head>
    <body class="flex flex-col min-h-screen">
        {% include 'nav.html' %}
        {% include 'subnav.html' %}
        <div class="bg-orange-600 px-4">
            <nav
    class="max-w-prose mx-auto prose  prose-neutral pb-4 -mt-2 flex items-center space-x-4"
  >
                {% if date %}
                    <div class="text-xs text-white/80">Published
                    <div class="text-sm text-white font-semibold">{{ date | readablePostDate }}</div>
                    </div>
                {% endif %}

                <div class="flex-1"></div>
            </nav>
        </div>

        <div class="px-4 py-8 flex-1">
            <main class="max-w-prose prose prose-neutral mx-auto flex flex-col items-center [&>*]:w-full">
                {{ content | safe }}
            </main>
        </div>
    </div>
    {% include 'footer.html' %}
</main>

</body>
</html>
