<!doctype html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        <title>{{ title }} · Applied Cartography</title>
    </head>
    <body class="flex flex-col min-h-screen">
        {% include 'nav.html' %}

        <div class="bg-orange-600 px-4">
            <nav class="max-w-prose mx-auto prose font-['Hex_Franklin'] prose-neutral py-4">
                <li class="pl-0 flex">
                    <div class="flex-1">
                        <a href="{{ url }}" class="font-bold no-underline text-lg text-white">{{ title }}</a>
                    </div>
                    <div class="tabular-nums text-white/60">{{ date }}</div>
                </li>
            </nav>
        </div>
        <div class="px-4 flex-1">
            <main class="max-w-prose prose font-['Hex_Franklin'] prose-neutral prose-p:text-black prose-blockquote:relative prose-blockquote:border-l-8 prose-blockquote:pb-4 prose-blockquote:pt-[1px] prose-blockquote:px-6 prose-p:text-[18px] prose-p:leading-[28px] prose-li:text-[18px] prose-blockquote:bg-gray-50 prose-li:leading-[28px] mx-auto my-4 prose-h1:font-black prose-h1:text-xl prose-h1:font-['Hex_Franklin'] prose-h2:text-lg prose-img:border prose-img:border-blue-200 prose-img:mx-auto flex flex-col prose-p:my-2 prose-hr:w-[300px] prose-hr:mx-auto prose-pre:!w-fit items-center [&>*]:w-full">
                {{ content | safe }}

                <a href="{{ external_url }}">Go to {{ title }}↗</a>
            </main>
        </div>
    </div>
    {% include 'footer.html' %}
</main>

</body>
</html>
