<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 16 16"
  fill="currentColor"
  class="size-4 text-gray-300 absolute right-4 top-4 hidden lg:block hover:text-gray-500"
  id="sidebar-toggle"
>
  <path
    fill-rule="evenodd"
    d="M2 3.75A.75.75 0 0 1 2.75 3h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 3.75ZM2 8a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 8Zm0 4.25a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z"
    clip-rule="evenodd"
  />
</svg>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const sidebarToggle = document.getElementById("sidebar-toggle");
    const sidebar = document.querySelector(".lg\\:max-w-\\[320px\\]");
    const mainContent = document.querySelector(".flex-1");

    sidebarToggle.addEventListener("click", function () {
      sidebar.classList.toggle("translate-x-full");
      sidebar.classList.toggle("flex-0");
      mainContent.classList.toggle("-mr-[320px]");
    });
  });
</script>
